.container{
  box-sizing: border-box;
  
    height: 100vh;
    margin-left:  200px;
    margin-right:  200px;
    background-color: #E3EAEA;
}
#dipperpic{
	position: absolute;
	left:50px;
	top: 10px;
}
#nav{
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	width: 100%;
	padding: 10px;
	text-align: left;
	font-style: Tahoma;
	font-color:#F7C77E  ;
	color: black;
	background-color: #E3EAEA;
	-webkit-border-radius:5px;
	-webkit-box-shadow:rgb(110,110,110) 1px 1px 20px;
}
#navtag{
	position: absolute;
	top: 30px;
	left: 100px;
	width: 100%;
	padding: 10px;
	font-style: italic;
}
#cartimage{
	position: absolute;
	top: 0px;
	left: 1700px;
}
#cartimage:hover{
	-webkit-border-radius:5px;
	-webkit-box-shadow:rgb(110,110,110) 1px 1px 20px;

}
#box1{
	position: absolute;
	top: 50px;
	left: 300px;
	display: block;
	width: 500px;
	margin:50px auto;
	padding: 15px;
	text-align: center;
	color: white;
	background-color: #369DF5;
	-webkit-border-radius:5px;
	-webkit-box-shadow:rgb(110,110,110) 5px 5px 20px;

}
#box1image{
	position: absolute;
	top: 220px;
	left: 375px;
}
#box1detail{
	position: absolute;
	top: 580px;
	left: 300px;
	background-color: #DBE3E3;
	width: 500px;
	height: 250px;
	text-align: center;
	-webkit-border-radius:5px;

}
form{
	display: inline;
}
#box1buyButton{
	position: absolute;
	top: 800px;
	left: 300px;
	display: block;
	width: 500px;
	margin:50px auto;
	padding: 15px;
	text-align: center;
	color: white;
	background-color: #F55E38;
	-webkit-border-radius:25px;
	-webkit-box-shadow:rgb(110,110,110) 5px 5px 20px;
}
#box1buyButton:hover{
background-color:#CA300A; 
}
#box1buyButton:active{
	background-color:#CA300A; 
	-webkit-box-shadow:rgb(110,110,110) -5px -5px 20px;
}
#box1buycart{
	position: absolute;
	top: 35px;
	left: 185px;
	-webkit-border-radius:5px;
	-webkit-box-shadow:rgb(110,110,110) 1px 1px 20px;
}





#box2{
	position: absolute;
	top: 50px;
	left: 1000px;
	display: block;
	width: 500px;
	margin:50px auto;
	padding: 15px;
	text-align: center;
	color: white;
	background-color: #369DF5;
	-webkit-border-radius:5px;
	-webkit-box-shadow:rgb(110,110,110) 5px 5px 20px;

}
#box2image{
	position: absolute;
	top: 220px;
	left: 1075px;
}

#box2detail{
	position: absolute;
	top: 580px;
	left: 1000px;
	background-color: #DBE3E3;
	width: 500px;
	height: 250px;
	text-align: center;
	-webkit-border-radius:5px;

}

#box2buyButton{
	position: absolute;
	top: 800px;
	left: 1000px;
	display: block;
	width: 500px;
	margin:50px auto;
	padding: 15px;
	text-align: center;
	color: white;
	background-color: #F55E38;
	-webkit-border-radius:25px;
	-webkit-box-shadow:rgb(110,110,110) 5px 5px 20px;

}
#box2buyButton:hover{
background-color:#CA300A; 
}
#box2buyButton:active{
	background-color:#CA300A; 
	-webkit-box-shadow:rgb(110,110,110) -5px -5px 20px;
}
#box2buycart{
	position: absolute;
	top: 35px;
	left: 185px;
	-webkit-border-radius:5px;
	-webkit-box-shadow:rgb(110,110,110) 1px 1px 20px;
}
.whitetext{
	color: white;
}

span{
	position: absolute;
	left: 70px;

}
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 130px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
#posdropdown{
	position: absolute;
	left: 650px;
	top: 770px;
}
#posdropdown2{
	position: absolute;
	left: 1380px;
	top: 770px;
}